* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.content{
    position: absolute;
  z-index: 9;
  width:100%;
  height: 100%;
}
.LOGO {
    margin-left: 0.5867rem;
    margin-top: 0.4667rem;
    width: 2.48rem;
    height: 0.6rem;
}
.BTN-HOME {
    width: 0.55rem;
    height: 0.55rem;
    background-position: center;
    display: inline-block;
    margin-left: 5.7rem;
    margin-top: 0.4667rem;
}
.BTN-HOME img {
    width: 0.55rem;
    height: 0.55rem;
}
.touchBut {
    width: 2.9333rem;
    height: 0.6667rem;
    border: 0.0267rem solid #6bdd90;
    border-radius: 1.0667rem;
    position: relative;
    margin: auto;
    margin-bottom: 1.8667rem;
}
.touchBut a {
    font-size: 0.32rem;
    line-height: 0.6667rem;
    position: absolute;
    left: 0.84rem;
    text-decoration: none;
    color: #33d066;
    font-weight: 300;
}
.body {
    width: 1
}
