*
    margin:0
    padding:0    

body
    margin 0
    padding 0
    background: url(../img/workerBackground.png) no-repeat

.LOGO
    margin-left: 0.5867rem
    margin-top: 0.4667rem
    width 2.48rem
    height: 0.6rem
    
.BTN-HOME
    width: 0.55rem
    height: 0.55rem
    background-position: center
    display: inline-block
    margin-left: 5.7rem
    margin-top: 0.4667rem

.BTN-HOME img
    width: 0.55rem
    height: 0.55rem


li
    list-style:none

.box
    margin:0.2667rem
    width:8.12rem
    height:10rem
    overflow:hidden
    border:1px solid #ccc
    padding:5px 10px 15px
    font-size:14px
    position: relative

.box ul li
    line-height:0.4rem
    margin-top: 0.5067rem

 .box img
     width:2.4rem
     height: 1.8rem
     margin-left: 0.4rem

.bigImag
    width: 3.2rem!important
    height: 2.4rem!important
    border:none
    box-shadow: 0.36rem 0.36rem 0.32rem rgba(0,0,0,0.1)
    margin-left: 0px!important

#workersBox
    margin-left: 0.35rem

// 动画
.itroBox
    position: absolute
    top: 0.1rem
    width: 3.9rem
    margin-left: 4rem
    overflow: hidden
    height: 0 

.itroBox li
    transition: all 1s
    opacity: 0

.itroBox>li:first-child
    transform:  translate3d(30%,0,0);

.itroBox>li:nth-child(2)
    transform:  translate3d(80%,0,0);

.itroBox>li:nth-child(3)
    transform:  translate3d(50%,0,0);

.itroBox>li:nth-child(4)
    transform:  translate3d(70%,0,0);

.itroBox>li:last-child
    position: fixed
    transition: all 0s

.title
    font-size: 0.4rem
    line-height: 0.48rem!important
    color: #378cff
    font-weight: 300

.line
    width:2.4rem 
    border-top 0.5px solid #378cff
    line-height: 0.0133rem!important
    margin-top: 0.35rem!important

.introduce
    font-size: 0.24rem
    line-height: 0.4rem!important
    color: #378cff
    font-weight: 300
    margin-top: 0.0667rem!important

.important
    font-size: 0.24rem
    line-height: 0.4rem!important
    color: #8c97a5
    font-weight: 300

.important span 
    font-size: 0.3333rem

.look
    width: 2.9333rem
    height: 0.6667rem
    border: 0.0267rem solid #378cff
    border-radius: 1.0667rem
    position: relative
    margin: auto
    top: 10.4rem

.look a 
    font-size: 0.32rem
    line-height: 0.6667rem
    position: absolute
    left: 0.84rem
    text-decoration: none
    color: #378cff
    font-weight: 300

.touchBut
    width: 2.9333rem
    height: 0.6667rem
    border: 0.0267rem solid #6bdd90
    border-radius: 1.0667rem
    position: relative
    margin: auto
    margin-top 1.84rem

.touchBut a 
    font-size: 0.32rem
    line-height: 0.6667rem
    position: absolute
    left: 0.84rem
    text-decoration: none
    color: #33d066
    font-weight: 300
